<div class="container">
<section class="toDoList">
  <div class="header_content">
    <h1 class="header_content-title">
      To Do List
    </h1>
    <span class="header_content-icon">
      <i class="fa-solid fa-check-to-slot"></i>
    </span>
  </div>

 <div class="input_content">
  <input (keydown.enter)="add(newTask)" [(ngModel)]="newTask" type="text" placeholder="add something..">
  <a (click)="add(newTask)"  class="input_content-button" data-text="add"><i class="fa-solid fa-plus"></i></a>
 </div>
  {{newTask}}



  <div class="tasks_list">
    <ul class="task_list-list-container">
      <li *ngFor=" let task of tasks">{{task}}
        <a  data-text="done" (click)="done(task)" class="a-done"><i class="fa-solid fa-check"></i></a>
        <a data-text="remove" (click)="remove(task)" class="a-remove"><i class="fa-solid fa-trash-can"></i></a>
        
      </li>
    </ul>
  </div>
  <div class="tasks_list-done">
    <h2 *ngIf="doneTasks.length>0" class="taks_list-done_title">
      You've got this done 
    </h2>
    <ul class="task_list-list-container">
      <li *ngFor=" let task of doneTasks">{{task}}
        <i class="fa-solid fa-check"></i>

    
      
      </li>
    </ul>
  </div>
</section>
</div>