.container {
    display: grid;
    grid-template-columns:
        [center-start] repeat(6,
            [col-start] minmax(min-content, 20rem) [col-end]) [center-end];
    grid-template-rows: min-content 90vh repeat(9, min-content);

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #FFFFE0;
        opacity: 1;
        /* Firefox */
        font-family: 'Teko', sans-serif;
        ;
    }





}

.toDoList {
    grid-column: center-start/container-end;
    row-gap: 2vh;
    justify-content: center;
    align-items: center;

}

.header_content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 2rem;


    &-title {
        font-size: calc(2.5rem + 5vh);
        text-transform: uppercase;
        font-weight: 700;
    }

    &-icon {
        font-size: calc(2.5rem + 5vh);
        font-weight: 200;
        color: #FFEB00;
        margin-left: 3rem;
        transition: transform 0.5s ease-in-out;
    }

    &-icon:hover,
    &-icon:active {
        transform: translateY(-20%);
        color: #89c47d
    }
}

.input_content {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    input {
        width: 50vw;
        background-color: transparent;
        border: none;
        border-bottom: 0.7rem solid #F5F0BF;
        margin-top: 3rem;
        color: white;
        font-size: calc(1rem + 3vh);
        transition: all 0.5 ease-in-out;
        color: #FFFFE0;

        font-family: 'Teko', sans-serif;

    }

    input:focus {
        outline: none;
        // border-bottom: 0.4rem solid #FFEB00;

    }

    .input_content-button {
        background-color: none;
        ;


        width: 8rem;

        bottom: 0;

        background-color: transparent;
        border-bottom: 0.7rem solid #F5F0BF;
        border-right: 0.5rem solid #F5F0BF;
        border-top: 0.2rem solid #F5F0BF;





        color: #FFEB00;
        border-top: 0.1rem solid #F5F0BF;
        display: inline-block;
        position: relative;



        i {
            position: absolute;
            align-self: center;
            font-size: 5rem;
            transition: all 0.9s ease-in-out;

            cursor: pointer;

        }

    }

    .fa-solid:hover {
        transform: rotate(360deg)
    }

    // .input_content-button:after {
    //     content: '';
    //     background-color: #C4AA7D;
    //     color: white;
    //     position: absolute;
    //     left: 0;
    //     bottom: -100%;
    //     transform: rotateX(-90deg);
    //     transform-origin: top;
    //     content: attr(data-text);
    //     width: 100%;
    //     height: 7rem;
    //     border-bottom: 0.7rem solid #F5F0BF;



    // }


}


.task_list-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;


    li {
        background-color: transparent;
        width: 80%;

        border-bottom: 0.5rem solid #F5F0BF;
        border-right: 0.3rem solid #F5F0BF;
        margin-top: 2rem;
        text-align: center;

        display: grid;
        grid-template-columns: 80% 1fr 1fr;
        font-size: calc(2rem + 1.5vh);
        color: #FFFFE0;

        a.a-done {
            color: #FFEB00;
            border-top: 0.1rem solid #F5F0BF;
            display: block;
            position: relative;
            transform-style: preserve-3d;
            transform-origin: top;

            transition: all 0.5s ease-in;
        }

        a.a-remove {
            color: #c47d86;
            border-top: 0.1rem solid #F5F0BF;
            display: block;
            position: relative;
            transform-style: preserve-3d;
            transform-origin: top;
            transition: all 0.5s ease-in;
        }

        a.a-done:hover {
            // background-color: #89c47d;
            // color: white;

            transform: rotateX(90deg);
        }

        a.a-remove:hover {
            // background-color: #c47d86;
            // color: white;
            transform: rotateX(90deg);
        }


        a.a-done::after {
            background-color: #89c47d;
            position: absolute;
            left: 0;
            bottom: -100%;
            transform: rotateX(-90deg);
            transform-origin: top;
            content: attr(data-text);
            width: 100%;
        }

        a.a-remove::after {
            background-color: #c47d86;
            color: white;
            position: absolute;
            left: 0;
            bottom: -100%;
            transform: rotateX(-90deg);
            transform-origin: top;
            content: attr(data-text);
            width: 100%;
        }
    }
}


.tasks_list-done {
    li {
        grid-template-columns: 90% 1fr;

        i {
            color: #89c47d;
            border-top: 0.1rem solid #F5F0BF;
        }
    }

    h2 {
        text-align: center;
        margin-top: 4rem;
        font-size: calc(2.5rem + 3vh);
    }
}

// * 800px */
@media screen and (max-width: 1400px) {
    a.a-remove::after {
        font-size: 1.5rem;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    a.a-done::after {
        font-size: 1.5rem;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

}

// 600px **
@media screen and (max-width: 700px) {

    a.a-remove::after {
        font-size: 0.8rem;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    a.a-done::after {
        font-size: 1rem;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .task_list-list-container {
        li {
            font-size: calc(1.5rem);
        }
    }

    .header_content-title,
    .header_content-icon {
        font-size: 2rem;
    }


    .input_content input {
        width: 60vw;
        background-color: transparent;
        border: none;
        border-bottom: 0.7rem solid #F5F0BF;
        margin-top: 3rem;
        color: white;
        font-size: calc(1rem + 1vh);
        transition: all 0.5 ease-in-out;
        color: #FFFFE0;

        font-family: 'Teko', sans-serif;

    }

    .tasks_list-done {
        h2 {
            font-size: 2rem;
        }
    }
}